/* 
* @Author: Marte
* @Date:   2017-02-17 16:27:03
* @Last Modified by:   Marte
* @Last Modified time: 2017-02-17 16:37:16
*/
#alertWeek{
    position: fixed;
    left: 30px;
    right: 30px;
    bottom:40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 9px 20px;
    font-size: 15px;
    z-index: 999;
    border-radius: 8px;
}